<!doctype html>
<html lang="en">

  <head>
      <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4/7/0/css/font-awesome.min.css">
      <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
      <meta charset="UTF-8">
      <title>LOGIN</title>
  </head>

 <section class="section">
    <div class="container">
        <div class="columns is-centered is-multiline">
        <div class="column is-12 has-text-centered">
        <div>
        <img src="https://localhost:8080/image/drop.jpg" width="500" height="333">
        </div>
        </div>
        <br>
        <div class="column is-3 has-text-centered">
            You have recycled {{.Weight}} grams worth of {{.Material}}<br>
            {{.Points}} points received
          </div>
        </div>
      </div>
  </section>

    <div class="container">
        <div class="columns is-centered is-multiline">
          <div class="column is-6 has-text-centered">
            <ul>
                <h1>Would you still like to continue recycling other material?<h1>
            </ul>

          </div>
        </div>
      </div>
  <br>


  

    <div class="container">
      <div class="columns is-centered is-multiline">
        <div class="column is-3 has-text-centered">
          <form action="" method="POST">
            <div class="columns is-centered is-multiline">
              
              <!-- row #1 starts -->
                <div class="column is-12 has-text-centered">
                  <h1>If yes, please continue<h1>
                </div>
              <!-- row #1 ends -->
              <!-- row #2 starts-->
                <a href="/login"  class="button mr-4 is-primary">Continue Recycling</a>
                <div class="column is-12 has-text-centered"> </div>
              <!-- row #2 ends -->
              <!-- row #3 starts-->
                <div class="column is-12 has-text-centered">
                
                  <!-- field input starts -->
                <div class="field">
                  <a href="/logout"  class="button mr-4 is-warning">Log Out</a>
                </div>
                  <!-- field input ends -->
                </div>  
              <!-- row #3 ends -->
            </div>
          </form>
        </div>
        
      </div>
    </div>



</html>