<!doctype html>
<html lang="en">

  <head>
      <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4/7/0/css/font-awesome.min.css">
      <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
      <meta charset="UTF-8">
      <title>LOGIN</title>
  </head>

 
  
  <section class="section">
    <div class="container">
        <div class="columns is-centered is-multiline">
        <img src="image/save.jpg" width="500" height="333">
          <div class="column is-9 has-text-centered">
            <p class="is-size-2 has-text-success has-text-weight-bold">Thank you for recycling.</p>
            <p class="is-size-2 has-text-success has-text-weight-bold">We hope to see you again.</p>
          </div>
        </div>
      </div>
  </section>


  

    <div class="container">
      <div class="columns is-centered is-multiline">
        <div class="column is-3 has-text-centered">
          <form action="" method="POST">
            <div class="columns is-centered is-multiline">
              
              <!-- row #1 starts -->
                <div class="column is-12 has-text-centered">
                  
                  <!-- Field Input starts -->
                  <div class="field">
                    </div>
                  </div>
                  <!-- Field Input ends -->
                </div>
              <!-- row #1 ends -->
              <!-- row #2 starts-->
                <div class="column is-12 has-text-centered">
            

              

                </div>
              <!-- row #2 ends -->
              <!-- row #3 starts-->
                <div class="column is-12 has-text-centered">
                
                  <!-- field input starts -->
                    <input type="submit" class="button ml-2 is-primary" value="Login"/>
                    <a href="/"  class="button mr-4 is-warning">Home</a>
                  <!-- field input ends -->
                </div>  
                <div class="column is-12 has-text-centered">
                
                  <!-- field input starts -->
                
                <div class="field">
                </div>
                  <!-- field input ends -->
                </div>  
              <!-- row #3 ends -->
            </div>
          </form>
        </div>
        
      </div>
    </div>



</html>